@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: Norse-Bold;
  src: url(res/Norse-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#sidebar {
  position: relative;
  background-image: url(res/background.jpg);
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100vh;
}

#logo-holder {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 22vh;
  bottom: 61vh;
  width: 100%;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 75%;
}

#logo-image {
  background-image: url(res/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  width: 40%;
}

#logo-text {
  font-family: Norse-Bold;
  font-size: 5rem;
  margin-left: -10%;
  color: white;
}

#link-holder {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 1%;
  width: 100%;
}

#link-text {
  font-family: Roboto;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.9);
}

a:link,
a:visited {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
}

#form-holder {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100vh;
  background-color: #f9fafb;
  padding: 7.5vh 0;
}

#disclaimer-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 50px 0 0 50px;
}

#disclaimer-text > div > p {
  font-family: Roboto;
  font-weight: 600;
  font-size: 1.8rem;
  max-width: 75%;
}

fieldset {
  display: flex;
  gap: 7.5%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
  padding: 50px;
}

legend {
  font-family: Roboto;
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding-top: 100px;
}

label {
  display: block;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.text-input {
  width: 250px;
  height: 30px;
  margin: 5px 0 25px 0;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.text-input:focus {
  outline: none;
  border-color: #4f75e0;
  border-width: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 600;

  color: white;
  background-color: #596d48;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  padding: 15px 55px;
  margin: 30px 0 0 100px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #4a5c3d;
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(1px);
}

.row {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
#log-in-link {
  color: #596d48;
  font-weight: 700;
  text-decoration: none;
}
#login-text > p {
  font-family: Roboto;
  margin: 30px 100px;
  font-weight: 500;
}
.pass:invalid {
  border-color: #e51c1c;
  border-width: 2px;
}
